#memory_board {
	background: #CCC;
	border: #999 1px solid;
	width: 800px;
	height: 540px;
	padding: 24px;
	margin: 0px auto;
}

#memory_board > div {
	background-color: blue;
	border: #000 1px solid;
	width: 71px;
	height: 71px;
	float:left;
	margin: 10px; 
	padding: 20px; 
	font-size: 64px;
	cursor: pointer;
	text-align:center;
}

// // Now enter css for flipping animation

// .flip3D.front {
// 	position:absolute;
// 	-webkit-transform: perspective (600px) rotateY(0deg);
// 	background: blue; width: 240px; height 200px; 
// 	-webkit-backface-visibility: hidden;
// 	transition: -webkit-transform .5s linear 0s;
// }

// .flip3D.back {
// 	position:absolute;
// 	-webkit-transform: perspective (600px) rotateY(180deg);
// 	background: yellow; width: 240px; height 200px; 
// 	-webkit-backface-visibility: hidden;
// 	transition: -webkit-transform .5s linear 0s;
// }








